.commit_table_list {
  display: flex;
  justify-content: space-around;
  border: 1px solid #123423;
}

.commit_table {
  border: 1px solid #fff123;
  text-align: center;
}

.commit_table .table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commit_table .table .node {
  width: 30px;
  height: 30px;
  border: 1px solid #fefefe;
}

.commit_table .table .node.active {
  background: rgb(198, 228, 139);
}

