@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #EEF5F9;
}

.font-black {
  color: #555;
}

.font-gray {
  color: #999;
  font-size: 0.9em;
}



/*header */
header.page-header {
   
}

section {
  padding: 50px 0;
}

.page-header {
  padding: 20px 0;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}


#CommitTableList {
  /* height: 100vh; */
  
}

.commit_table_list {
  display: flex;
  /* justify-content: space-around; */
  border: 1px solid #123423;
}

.commit_table {
  border: 1px solid #fff123;
  text-align: center;
}

.commit_table .table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commit_table .table .node {
  width: 30px;
  height: 30px;
  border: 1px solid #929292;
}

.commit_table .table .node.active {
  background: rgb(198, 228, 139);
}


/* commit table */
.card-bg {
  margin: 0;
  padding: 15px 0;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
}

.commit-table .row {
  margin-bottom: 15px;
}

.commit-table .left-col {
  border-right: 1px solid #eee;
}

.commit-table__user-profile .commit-table__user-image-wrapper {
  width: 50px;
  height: 50px;
  background: #9e9e9e;
  margin-right: 10px;
}

.commit-table__user-profile .commit-table__user-id h6 {
    margin-bottom: 0;
    color: #555;
}

.commit-table__check {
    font-size: 0.9em;
    color: #999;
}

.commit-table__date,
.commit-table__count
{
  color: #999;
  font-size: 0.9em;
  margin-right: 20px;
}

.commit-table__commits {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.commit-table__commits .node {
  width: 30px;
  height: 30px;
  border: 1px solid #929292;
}

.commit-table__commits .node.active {
  background: rgb(198, 228, 139);
}

/* activity-card */
.p-x-15px {
  padding-left: 15px;
  padding-right: 15px;
}

.activity-card__activity-item {
  padding: 15px 0;
  border-top: 1px solid #9e9e9e;
}
.activity-item__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.activity-item__commit-message {
  display: block;
}
.activity-item__repo {
  margin-bottom: 10px;
}